//Login
.loginGrid{
    margin-top: 150px !important;
    padding: 30px !important;
}
.loginInputName{
    width: 100% !important;
    margin-bottom: 20px !important;
}
.loginInputPassword{
    width: 100% !important;
    margin-bottom: 40px !important;
}
.loginSubmit{
    width: 100% !important;
}